body{ background-color: white;}

h1{color:red;
text-align: center;}

p{color: black;
font-size: medium;}
    h2{color:rgb(204, 23, 23);}
h3{color: rgb(199, 17, 17);}
#lanche{width: 25%;}
h4{color: rgb(199, 17, 17);}
#sucos{width: 25%;}
h5{color: rgb(199, 17, 17);}